/* 
    Created on : 31 Janv. 2021, 16:45:27
    Author     : Nem-Developing
*/

* {
    background-color: #339CFF!important;
    color: white!important;
}


#titre {
    padding-top: 15%;
    text-align: center;
}


#loading {
    text-align: center;
    padding-top: 3%;
}