/* 
    Created on : 10 juil. 2020, 23:57:19
    Author     : Nem-devloping
*/

* {
    background-color: rgb(50, 48, 44);
}

#boutons {
    width: 100% !important;
}
.boutons {
    float: left;
    width: 50% !important;
}

.alertefix {
    background-color: transparent !important;
}
