/* 
    Created on : 14 juil. 2020, 12:23:08
    Author     : Nem-devloping
*/

* {
    background-color: rgb(50, 48, 44);
    color: white !important;
}

::placeholder {
  color: yellow !important;
}
