/* 
    Created on : 11 juil. 2020, 12:48:06
    Author     : Nem-devloping
*/

* {
    background-color: rgb(50, 48, 44);
}


.boutons {
    padding-left: 0px;
    padding-right: 0px;
}
