// styles/themes/_dark.scss
[data-theme="fr"] {
  --background-color: #ffffff; // Couleur de fond sombre
  --text-color: #f0f0f0; // Couleur de texte claire
  --border-color: #555555; // Couleur de bordure sombre
  /* Ajoutez toutes les variables ou styles spécifiques au thème sombre ici */

  .t-ouvert {
    background-color: #000091 !important;
  }
  .t-encours {
    background-color: white !important;
    color: black !important;
    border: 1px solid rgb(170, 170, 170) !important;
  }
  .t-ferme {
    background-color: #ef4135 !important;
  }
}
