// styles/themes/_light.scss
[data-theme="light"] {
  --background-color: #f0f0f0; // Couleur de fond claire
  --text-color: #333333; // Couleur de texte sombre
  --border-color: #cccccc; // Couleur de bordure claire
  /* Ajoutez toutes les variables ou styles spécifiques au thème clair ici */
}
