/* ====================== Pages ====================== */

/* Format des pages */
.Dashboard,
.NewTicket {
  width: 100%;

  h1 {
    font-size: 2em;
    margin: 1em;
  }
}

/* Styles spécifiques à la page NewTicket */
.NewTicket {
  display: flex;
  flex-direction: column;

  .formdiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      width: 80%;
      display: flex;
      flex-direction: column;
      background-color: white;
      border: 0 solid;
      border-radius: 13px;
    }
  }
}
