/* 
    Created on : 14 juil. 2020, 00:44:27
    Author     : Nem-Developing
*/

::placeholder {
  color: yellow !important;
}

#page {
    color: white!important;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
}

#formulaire {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: 2px solid red;
    border-radius: 12px;
    border-color: white;
}

#privileges {
   margin-bottom: 1% !important;
}