/* 
    Created on : 16 aout 2022, 16:41:27
    Author     : Nem-Developing
*/

* {
    background-color: #343a40!important;
    color: white!important;
}
#titre {
    text-align: center !important;
}
#id {
    margin-top: 20px;
}
#formulaire {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2%;
}

