// src/styles/pages/_base-pages.scss
@use "../abstracts/variables" as var;
@use "sass:map";

.Dashboard,
.NewTicket,
.Ticket,
.OpenTickets,
.TicketPage {
  width: 100%;

  h1 {
    font-size: var.$font-size-xxl;
    margin-left: map.get(var.$spacings, md);
    margin-bottom: map.get(var.$spacings, md);
    margin-top: map.get(var.$spacings, xs);
  }
}
