// src/styles/pages/_connection-page.scss
@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:map";

.Connection {
  .connection-page-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(var.$background-light, 1);
    @include mix.flex-center;
    z-index: var.$z-index-modal-overlay;
  }

  .connection-card {
    background-color: var.$background-color-white;
    border-radius: map.get(var.$border-radii, lg);
    padding: map.get(var.$spacings, xxl);
    box-shadow: var.$shadow-md;
    max-width: 400px;
    width: 100%;
    text-align: center;
    animation: fadeInScale var.$transition-speed-medium ease-in-out;
  }

  .connection-title {
    font-size: var.$font-size-xl;
    color: var.$text-color-dark;
    margin-bottom: map.get(var.$spacings, xl);
  }

  .connection-form {
    @include mix.flex-col;
    gap: map.get(var.$spacings, md);
  }

  .form-group {
    @include mix.flex-col;
    align-items: flex-start;
    gap: map.get(var.$spacings, xxs);
  }

  .form-label {
    font-size: var.$font-size-md;
    color: var.$text-color-medium;
    font-weight: 500;
  }

  .form-input {
    box-sizing: border-box;
    padding: map.get(var.$spacings, sm) map.get(var.$spacings, md);
    border: 1px solid var.$border-color-default;
    border-radius: map.get(var.$border-radii, sm);
    font-size: var.$font-size-md;
    width: 100%;
    transition: border var.$transition-speed-fast,
      box-shadow var.$transition-speed-fast;

    &:focus {
      border-color: var.$color-primary-blue;
      box-shadow: var.$shadow-focus;
      outline: none;
    }
  }

  .connection-button {
    padding: map.get(var.$spacings, sm) map.get(var.$spacings, lg);
    font-size: var.$font-size-md;
    font-weight: bold;
    color: var.$color-white;
    background-color: var.$color-primary-blue;
    border: none;
    border-radius: map.get(var.$border-radii, sm);
    cursor: pointer;
    transition: background-color var.$transition-speed-medium;
    margin-top: map.get(var.$spacings, md);

    &:hover {
      background-color: var.$color-primary-blue-dark;
    }
  }

  .connection-message {
    margin-top: map.get(var.$spacings, md);
    font-size: var.$font-size-sm;
    color: var.$error-text-color;
  }
}
