// src/styles/pages/_dashboard.scss
@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.Dashboard {
  .block {
    width: 100%;

    .Info-rapide {
      @include mix.flex-space-between;

      %ticket-status-tile {
        color: var.$color-white;
        padding: map-get(var.$spacings, md);
        width: 30%;
        @include mix.flex-col;
        border: 0 solid;
        border-radius: map-get(var.$border-radii, lg);
      }

      .t-ouvert {
        @extend %ticket-status-tile;
        background-color: var.$dashboard-ticket-open-color;
      }
      .t-encours {
        @extend %ticket-status-tile;
        background-color: var.$dashboard-ticket-in-progress-color;
      }
      .t-ferme {
        @extend %ticket-status-tile;
        background-color: var.$dashboard-ticket-closed-color;
      }

      .nb-DumpNombreTicket {
        margin-top: map-get(var.$spacings, xxs) * 0.5;
        font-size: var.$font-size-xxxl;
      }
    }

    .Graphiques {
      margin-top: map-get(var.$spacings, xl);
      @include mix.flex-space-between;

      h2 {
        font-size: var.$font-size-xl;
        margin: map-get(var.$spacings, md);
      }

      .etat,
      .categorie {
        @include mix.flex-col;
        min-height: 24em;
        border: 0 solid;
        border-radius: map-get(var.$border-radii, lg);
        background-color: var.$background-color-white;
      }

      .etat {
        width: 66%;

        .recharts-responsive-container {
          display: flex;

          .recharts-wrapper {
            .recharts-legend-wrapper {
              @include mix.flex-col-center;
            }
          }
        }
      }

      .categorie {
        width: 33%;
      }
    }
  }
}
