// src/styles/pages/_ticket-page.scss
@use "../abstracts/variables" as var;
@use "sass:color";
@use "sass:map";

.TicketPage {
  padding: map.get(var.$spacings, xl);
  max-width: var.$ticket-page-max-width;
  margin: 0 auto;
}

.ticket-details {
  background-color: var.$background-light-gray;
  border: 1px solid var.$border-color-light;
  border-radius: map.get(var.$border-radii, md);
  padding: map.get(var.$spacings, lg);
  margin-bottom: map.get(var.$spacings, xl);
  box-shadow: var.$shadow-sm;
}

.ticket-details h1 {
  font-size: var.$font-size-xl * 0.9;
  margin-bottom: map.get(var.$spacings, md);
  color: var.$text-color-dark; // #333
}

.ticket-details p {
  margin: map.get(var.$spacings, xs) 0;
  line-height: 1.4;
  color: var.$text-color-medium;
}

.ticket-details strong {
  color: var.$text-color-strong;
}

.comments-section {
  background-color: var.$background-color-white;
  border: 1px solid var.$border-color-lighter;
  border-radius: map.get(var.$border-radii, md);
  padding: map.get(var.$spacings, lg);
  box-shadow: var.$shadow-xs;
}

.comments-section h2 {
  font-size: var.$font-size-xl;
  margin-bottom: map.get(var.$spacings, md);
  color: color.adjust(var.$text-color-dark, $lightness: -5%);
}
