// src/styles/layout/_main-layout.scss
@use "../abstracts/variables" as var;
@use "sass:map";

.MainLayout {
  background-color: var.$background-light;
  min-height: 100vh;
  display: flex;
  font-family: var.$font-family-primary;
}

.Pages {
  /* Styles mobiles (par défaut) */
  margin-left: 0;
  padding: map.get(var.$spacings, md);

  /* Styles desktop */
  @media (min-width: 768px) {
    flex-grow: 1;
  }
}
