// src/styles/layout/_main-layout.scss
@use "../abstracts/variables" as var;
@use "sass:map";

.MainLayout {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  font-family: var.$font-family-primary;
}

.Pages {
  /* Styles mobiles (par défaut) */
  margin-left: 0;
  padding: map.get(var.$spacings, md);

  /* Styles desktop */
  @media (min-width: 768px) {
    flex-grow: 1;
  }
}

// body {
//   // Applique les variables CSS définies dans _light.scss ou _dark.scss
//   background-color: var(--background-color);
//   color: var(--text-color);
//   border-color: var(--border-color);
//   transition: background-color 0.3s ease, color 0.3s ease; // Pour une transition douce
// }

// /* Styles globaux qui utilisent ces variables */
// h1 {
//   color: var(--text-color);
// }

// div {
//   border: 1px solid var(--border-color);
//   padding: 1rem;
//   margin-bottom: 1rem;
// }
