// src/styles/layout/_navbar.scss
@use "../abstracts/variables" as var;

.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var.$z-index-navbar;
  overflow-y: auto;
  color: var.$color-white;
  background-color: var.$color-primary-blue;
}
