// src/styles/layout/_sidebar.scss
@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.Sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: var.$sidebar-width-mobile;
  height: 100vh;
  transition: left var.$transition-speed-medium ease;
  z-index: var.$z-index-sidebar;
  overflow-y: auto;
  padding: map-get(var.$spacings, md);
  background-color: var.$color-secondary-dark-blue;

  nav {
    display: flex;
    flex-direction: column;
    margin-top: map-get(var.$spacings, md);

    a {
      text-decoration: none;
    }

    .imagelien {
      @include mix.flex-center-y;

      img {
        margin-left: map-get(var.$spacings, md);
        height: var.$font-size-xl;
      }
    }
  }

  h1 {
    color: var.$color-white;
    margin: map-get(var.$spacings, md);
  }

  .with-separator {
    border-bottom: 1px solid var.$border-color-sidebar-separator;
    padding-bottom: map-get(var.$spacings, md);
    margin-bottom: map-get(var.$spacings, md);
  }

  &.open {
    left: 0;
  }

  .SidebarContent {
    pointer-events: none;
  }

  &.open .SidebarContent {
    pointer-events: auto;
  }

  @media (min-width: var.$breakpoint-tablet) {
    position: relative;
    left: 0;
    width: var.$sidebar-width-desktop;
    height: auto;
    .SidebarContent {
      pointer-events: auto;
      opacity: 1;
    }
  }
}
