// src/styles/components/_dump-nombre-ticket.scss
@use "../abstracts/variables" as var;

.DumpNombreTicket {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin: map-get(var.$spacings, xl) auto;
  font-size: var.$font-size-sm;
  border-radius: map-get(var.$border-radii, sm);
  overflow: hidden;
  box-shadow: var.$shadow-md;

  thead {
    background-color: var.$color-primary-blue;

    th {
      color: var.$color-white;
      text-align: left;
      padding: map-get(var.$spacings, md);
      font-weight: 600;
      font-size: var.$font-size-md;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: var.$background-success-table-even;
      }

      &:hover {
        background-color: var.$background-hover-table-row;
      }

      td {
        padding: map-get(var.$spacings, sm) map-get(var.$spacings, md);
        border-top: 1px solid var.$border-color-light;
        color: var.$text-color-dark;
        vertical-align: top;
      }
    }
  }
}

.clickable-row {
  cursor: pointer;
  transition: background var.$transition-speed-fast ease;
}

.clickable-row:hover {
  background-color: lighten(var.$background-light-gray, 3%);
}
