// src/styles/components/_information-dev.scss
@use "../abstracts/variables" as var;
@use "sass:map";

.information-dev {
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: map.get(var.$border-radii, xs);
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: monospace;
  font-size: 14px;
}

.information-dev__icon {
  font-size: 1.2em;
}

.information-dev__message {
  margin: 0;
  flex-grow: 1;
  font-weight: bold;
}

/* Type styles */
.information-dev--info {
  background-color: var.$info-background-color;
  color: var.$info-text-color;
  border: 1px solid var.$info-border-color;
}

.information-dev--warning {
  background-color: var.$warning-background-color;
  color: var.$warning-text-color;
  border: 1px solid var.$warning-border-color;
}

.information-dev--error {
  background-color: var.$error-background-color;
  color: var.$error-text-color;
  border: 1px solid var.$error-border-color;
}

.information-dev--success {
  background-color: var.$success-background-color;
  color: var.$success-text-color;
  border: 1px solid var.$success-border-color;
}

/* Taille styles */
.information-dev--small {
  padding: 5px 10px;
  font-size: 12px;
}

.information-dev--small .information-dev__icon {
  font-size: 1em;
}

/* Les styles par défaut sont déjà "medium" */
/* .information-dev--medium {
} */

.information-dev--large {
  padding: 15px 20px;
  font-size: 16px;
}

.information-dev--large .information-dev__icon {
  font-size: 1.5em;
}
