// src/styles/components/_ticket-edit-modal.scss
@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:map";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(var.$color-black, 0.4);
  @include mix.flex-center;
  z-index: var.$z-index-modal-overlay;

  h2 {
    font-size: var.$font-size-xl;
  }

  .modal {
    background-color: var.$background-color-white;
    border-radius: map.get(var.$border-radii, lg);
    padding: map.get(var.$spacings, xl);
    max-width: var.$modal-max-width;
    width: 100%;
    box-shadow: var.$shadow-md;
    animation: fadeInScale var.$transition-speed-medium ease-in-out;
    display: flex;
    flex-direction: column;
  }

  label {
    margin-top: map.get(var.$spacings, md);
    margin-bottom: map.get(var.$spacings, xxs);
    font-weight: 500;
    color: var.$text-color-medium;
  }

  input,
  textarea,
  select {
    padding: map.get(var.$spacings, sm);
    border: 1px solid var.$border-color-default;
    border-radius: map.get(var.$border-radii, sm);
    font-size: var.$font-size-md;
    transition: border var.$transition-speed-medium,
      box-shadow var.$transition-speed-medium;
    width: 100%;
  }

  input:focus,
  textarea:focus,
  select:focus {
    border-color: var.$color-primary-blue;
    box-shadow: 0 0 5px var.$shadow-focus;
    outline: none;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: map.get(var.$spacings, lg);
    gap: map.get(var.$spacings, md);
  }

  .buttons button {
    padding: map.get(var.$spacings, sm) map.get(var.$spacings, lg);
    font-size: var.$font-size-md;
    font-weight: bold;
    color: var.$color-white;
    border: none;
    border-radius: map.get(var.$border-radii, sm);
    cursor: pointer;
    transition: background-color var.$transition-speed-medium;
  }

  .buttons .save {
    background-color: var.$button-save-color;

    &:hover {
      background-color: var.$button-save-hover-color;
    }
  }

  .buttons .cancel {
    background-color: var.$button-cancel-color;

    &:hover {
      background-color: var.$button-cancel-hover-color;
    }
  }

  .buttons .view {
    background-color: var.$button-view-color;

    &:hover {
      background-color: var.$button-view-hover-color;
    }
  }
}
