// src/styles/components/_ticket-comment-list.scss
@use "../abstracts/variables" as var;

.ticket-comment-list {
  margin-top: map-get(var.$spacings, md);
}

.ticket-comment-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment-item {
  border-top: 1px solid var.$border-color-lighter;
  padding: map-get(var.$spacings, md) 0;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: var.$text-color-dark;
  margin-bottom: map-get(var.$spacings, xxs) * 0.75;
}

.comment-date {
  font-size: var.$font-size-xs;
  color: var.$text-color-light-gray;
}

.comment-actions {
  margin-top: map-get(var.$spacings, xs);
  display: flex;
  gap: map-get(var.$spacings, xs);
}

.comment-actions button {
  background: none;
  border: none;
  color: var.$color-primary-blue;
  cursor: pointer;
  font-size: var.$font-size-sm * 0.95;
}

.comment-actions button:hover {
  text-decoration: underline;
}
