// src/styles/components/_ticket-comment-form.scss
@use "../abstracts/variables" as var;
@use "sass:map";

.ticket-comment-form {
  display: flex;
  flex-direction: column;
  gap: map.get(var.$spacings, xs);
  margin-bottom: map.get(var.$spacings, xl);
}

.ticket-comment-form textarea {
  padding: map.get(var.$spacings, sm);
  border: 1px solid var.$border-color-default;
  border-radius: map.get(var.$border-radii, sm);
  font-size: var.$font-size-md;
  resize: vertical;
}

.form-buttons {
  display: flex;
  gap: map.get(var.$spacings, sm);
}

.form-buttons button {
  padding: map.get(var.$spacings, xs) map.get(var.$spacings, md);
  border: none;
  background-color: var.$color-primary-blue;
  color: var.$color-white;
  border-radius: map.get(var.$border-radii, xs);
  cursor: pointer;
  transition: background-color var.$transition-speed-fast ease;
}

.form-buttons button:hover {
  background-color: var.$color-primary-blue-dark;
}

.form-buttons button[type="button"] {
  background-color: var.$button-default-color;
}

.form-buttons button[type="button"]:hover {
  background-color: var.$button-default-hover-color;
}
